.add-book__host {
  padding: 10px;
  width: 400px;
  margin-left: 10px;
  box-shadow: 1px 1px 10px cadetblue;
  border: 1px solid dimgrey;
}

.add-book__input__container {
  margin-bottom: 10px;
}

.add-book__input {
  font-size: 20px;
}

.add-book__author__container {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.add-book__input-author-name,
.add-book__input-author-surname {
  display: inline-block;
  width: 170px;
}

.button__remove-author {
  height: 100%;
  display: inline-block;
  vertical-align: top;
}