.app {
  text-align: center;
}

.app__menu {
  position: fixed;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.app__main {
  position: relative;
  top: 80px;
}

.app__button {
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.app__button:hover {
  background-color: #eeeeee;
}
